---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import ExpCard from '@/components/ExpCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllExperiences, getAllProjects } from '@/lib/data-utils'

const experiences = await getAllExperiences()
const projects = await getAllProjects()
---

<Layout class='max-w-3xl'>
  <PageHead slot='head' title='About' />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class='min-w-full'>
      <div class='prose mb-8'>
        <p class='mt-0 text-justify'>
          👋 Hi, I'm Sumir Vats : a Software Engineer with a year of experience
          building scalable backend systems and seamless web applications. My
          expertise lies in Nodejs, TypeScript, MongoDB, with strong proficiency
          in Angular and Golang for crafting dynamic experiences. I enjoy
          solving complex problems, whether it's through designing efficient
          APIs, architecting databases, or tackling business challenges. I
          thrive on learning, experimenting, and building software that blends
          performance with impact. When I'm not coding, you'll find me playing
          the guitar 🎸 or writing about technology and ideas that excite me.
        </p>
        <!-- <p>
          To learn more about the philosophy behind this template, check out the
          following blog post: <Link
            href='/blog/the-state-of-static-blogs'
            underline>The State of Static Blogs in 2024</Link
          >.
        </p> -->
      </div>
      <h2 class='mb-4 text-2xl font-medium'>Experience</h2>
      <div class='mb-8 flex flex-col gap-4'>
        {experiences.map((exp) => <ExpCard experience={exp} />)}
      </div>

      <h2 class='mb-4 text-2xl font-medium'>Projects</h2>
      <div class='flex flex-col gap-4'>
        {projects.map((project) => <ProjectCard project={project} />)}
      </div>
    </div>
  </section>
</Layout>
